<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://hangmantest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hangmantest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Hangmantest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Thomie</UserName>
    <_SavePWD>True</_SavePWD>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ovyctnajhf.database.windows.net,1433;Initial Catalog=Hangmantest_db;User ID=thomas@ovyctnajhf;Password=Gimpi1996!" Name="Data Source=tcp:ovyctnajhf.database.windows.net,1433;Initial Catalog=Hangmantest_db;User Id=thomas@ovyctnajhf;Password=Gimpi1996!;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Hangman_test.Models.ApplicationDbContext, Hangman_test" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ovyctnajhf.database.windows.net,1433;Initial Catalog=Hangmantest_db;User Id=thomas@ovyctnajhf;Password=Gimpi1996!;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>